*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box {
    background-color: rgba(0, 0, 0,0.1);
    border-radius: 12px;
    transition: transform 0.2s;
    padding: 10px;
}

.box:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.box h5{
    font-size: 16px;

}
h3{
padding: 20px;
font-size: 24px;
font-weight: bold;
text-transform: uppercase;
color: #333333;
background-color: #f5f5f5;
border-radius: 12px;
margin: 15px;
}
footer{
    font-size: 17px;
    background-color: #948787;
    color: white;
}